ErrorDocument 404 /404
ErrorDocument 403 /403
AddDefaultCharset UTF-8
<Files config.php>
  Deny from all
</Files>
<Files error_log.log>
  Deny from all
</Files>
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^.*\.git.* - [R=404]
  RewriteRule ^metadmin/version/?$ index.php?page=api/metadmin_version [L,NE]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
</IfModule>
